* {
    padding: 0;
    margin: 0;
}
.content-box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#navbar {
    padding: 5px;
    background-color: black;
    height: 65px;
}
a {
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
.logo {
    color: green;

}

#logo-id {
    font-size: 25px;
}
footer {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    background-color: black;
}
#box1{
    background-color: rgba(255, 0, 0, 0.5);
}
#box2{
    background-color: rgba(0, 255, 0, 0.5);
}
#box3{
    background-color: rgba(0, 0, 255, 0.5);
}
.content{
    height: 600px;
}